<div style="display: flex; flex-direction: column">

  <div style="margin-bottom: 50px;border: 1px solid #ddd;padding: 20px">
    <app-vertical-virtual-scroll></app-vertical-virtual-scroll>
  </div>

  <div style="margin-bottom: 50px;border: 1px solid #ddd;padding: 20px">
    <app-horizontal-virtual-scroll></app-horizontal-virtual-scroll>
  </div>

  <div style="margin-bottom: 50px;border: 1px solid #ddd;padding: 20px">
    <app-vertical-and-horizontal-virtual-scroll></app-vertical-and-horizontal-virtual-scroll>
  </div>

</div>
