<h1 style="margin-bottom: 20px">Vertical Scroll</h1>
<div class="P-spread-sheet-container" (scroll)="scrollRows($event)">
  <div [style.height.px]="rowHeight * visibleRows + 1">
    <div [style.height.px]="rowHeight * startRow"></div>
    <div *ngFor="let row of matrix | slice: startRow:  (startRow + 1) + visibleRows;let rowIndex = index">
      <div style="display: flex;width: fit-content">
        <div class="P-grid-cell"
             [style.width.px]="columnWidth"
             [style.height.px]="rowHeight"
             *ngFor="let column of row; let columnIndex = index;">
          <p>
            {{column}}
          </p>
        </div>
      </div>
    </div>
    <div [style.height.px]="rowHeight * (matrix.length - (startRow + visibleRows))"></div>
  </div>
</div>

<div style="display:flex;flex-direction: column;margin-top: 20px">
  <span>Rows Count: {{rowsCount}}</span>
  <span>Columns Count: {{columnsCount}}</span>
  <span>Row Height: {{rowHeight}}</span>
  <span>Column Width: {{columnWidth}}</span>
  <span>Visible Rows: {{visibleRows}}</span>
  <span>Start Row: {{startRow}}</span>
  <span>End Row: {{startRow + visibleRows}}</span>
</div>

